.content {
  margin-left: 6.1rem;
  padding: 3rem 6rem;
  background-color: #f4f5f8;
  top: 13%;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  // width: 100%;
  // height: 100%;
  @include respond(tab-port) {
    margin-left: 0;
    padding: 3rem 2rem;
  }
}
