.col {
  display: flex;
  width: 100%;
  &--1 {
    flex-basis: 8%;
    flex-basis: 8.3%;
  }
  &--2 {
    flex-basis: 16%;
    flex-basis: 16.6%;
  }
  &--3 {
    flex-basis: 24%;
    flex-basis: 24.9%;
  }
  &--4 {
    flex-basis: 32%;
    flex-basis: 33.2%;
  }
  &--5 {
    flex-basis: 40%;
    flex-basis: 41.5%;
  }
  &--6 {
    flex-basis: 48%;
    flex-basis: 49.8%;
  }
  &--7 {
    flex-basis: 56%;
    flex-basis: 58.1%;
  }
  &--8 {
    flex-basis: 64%;
    flex-basis: 66.4%;
  }
  &--9 {
    flex-basis: 72%;
    flex-basis: 74.7%;
  }
  &--10 {
    flex-basis: 80%;
    flex-basis: 83%;
  }
  &--11 {
    flex-basis: 88%;
    flex-basis: 91.3%;
  }
  &--12 {
    flex-basis: 96%;
    flex-basis: 100%;
  }
  &--space-btw {
    justify-content: space-between;
  }
  &--space-ard {
    justify-content: space-around;
  }
  &--center-y {
    align-items: center;
  }
  &--end {
    justify-content: flex-end;
  }
  &--col {
    flex-direction: column;
  }
  &--responsive {
    @include respond(tab-port) {
      flex-direction: column;
    }
  }
}
// Shortcut  Offsets: 1/3, 2/3, 1/2
.col--1-3 {
  width: grid-column-width(4);
}
.col--2-3 {
  width: grid-column-width(8);
}
.col--1-2 {
  width: grid-column-width(6);
}

// Offsets
// .col--offset-1 {
//   margin-left: grid-offset-length(1) !important;
// }
// .col--offset-2 {
//   margin-left: grid-offset-length(2) !important;
// }
// .col--offset-3 {
//   margin-left: grid-offset-length(3) !important;
// }
// .col--offset-4 {
//   margin-left: grid-offset-length(4) !important;
// }
// .col--offset-5 {
//   margin-left: grid-offset-length(5) !important;
// }
// .col--offset-6 {
//   margin-left: grid-offset-length(6) !important;
// }
// .col--offset-7 {
//   margin-left: grid-offset-length(7) !important;
// }
// .col--offset-8 {
//   margin-left: grid-offset-length(8) !important;
// }
// .col--offset-9 {
//   margin-left: grid-offset-length(9) !important;
// }
// .col--offset-10 {
//   margin-left: grid-offset-length(10) !important;
// }
// .col--offset-11 {
//   margin-left: grid-offset-length(11) !important;
// }
// Shortcut  Offsets: 1/3, 2/3, 1/2
.col--offset-1-3 {
  margin-left: grid-offset-length(4) !important;
}
.col--offset-2-3 {
  margin-left: grid-offset-length(8) !important;
}
.col--offset-1-2 {
  margin-left: grid-offset-length(6) !important;
}

// Clearing
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* Self Clearing Goodness */
.container:after,
.row:after {
  clear: both;
  content: "";
  display: table;
}
