.header {
  display: grid;
  grid-template-columns: 1fr 3fr 4fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  padding: 2rem 1rem;
  padding-left: 0;
  border-bottom: 0.1rem solid $border-color;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1000;
  &__actions {
    grid-column: 4 / 5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include respond(tab-port) {
      justify-content: flex-end;
      & > :first-child {
        display: none;
      }
      & > :nth-child(3) {
        display: none;
      }
      & > .notification {
        border: none;
      }
    }
  }
  &__caption {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 3fr 6fr;

    @include respond(tab-port) {
      display: block;
      & > .c-form--search {
        display: none;
      }
    }
  }
  &__menu--mobile {
    display: none;
    padding-left: 2rem;
    @include respond(tab-port) {
      display: block;
      cursor: pointer;
    }
  }
  @include respond(tab-port) {
    display: flex;
    justify-content: space-between;
  }
}
