.text {
  &--muted {
    color: $gray-3;
  }
  &--bold {
    font-weight: 700;
  }
  &--underlined {
    text-decoration: underline;
  }
  &--left {
    text-align: left;
  }
  &--nowrap {
    white-space: nowrap;
  }
}

.m {
  &--l0 {
    margin-left: 0;
  }
  &--l1 {
    margin-left: 0;
  }
  &--r2 {
    margin-right: 2rem;
  }
  &--b0 {
    margin-bottom: 0;
  }
  &--b1 {
    margin-bottom: 1rem;
  }
  &--b2 {
    margin-bottom: 2rem;
  }
}

.p {
  &--t0 {
    padding-top: 0rem;
  }
  &--t1 {
    padding-top: 1rem;
  }
  &--b1 {
    padding-bottom: 1rem;
  }
  &--b2 {
    padding-bottom: 2rem;
  }
  &--t1 {
    padding-top: 1rem;
  }
  &--t2 {
    padding-top: 2rem;
  }
}

.b {
  &--r1 {
    border-right: 0.1rem solid $border-color;
    padding-right: 2rem;
  }
  &--b1 {
    border-bottom: 0.1rem solid $border-color;
  }
}

.hr {
  color: #ced0d7;
  opacity: 0.3;
  &--dashed {
    border-top: dashed 0.1rem #ced0d7;
  }
}
