.sidebar {
  width: 6rem;
  border-right: 0.1rem solid $border-color;
  position: absolute;
  position: fixed;
  top: 13.5%;
  height: 100%;
  background-color: $white;
  z-index: 900;
  @include respond(tab-port) {
    left: -6rem;
  }
  &__menu {
    text-align: center;
    padding-top: 2rem;
    &__item {
      padding: 1.3rem 0;
      &--footer {
        position: fixed;
        left: 1.9%;
        bottom: 1.5rem;
      }
    }
  }
  &--open {
    @include respond(tab-port) {
      transform: translateX(5.3rem);
      z-index: 100000;
      background-color: $white;
      top: 13%;
    }
  }
}
