.user {
  display: flex;
  justify-content: space-around;
  min-width: 14rem;
  &__avatar {
    height: 3rem;
    border-radius: 3rem;
    border: 0.3rem solid $gray-2;
  }
  &__info {
    // NEEDS ATT
    & strong {
      color: #1e263b;
    }
    color: $gray-3;
    font-size: 1.2rem;
    text-transform: capitalize;
  }
}
.notification {
  padding: 0 1.8rem;
  border-left: 0.1rem solid $gray-3;
  border-right: 0.1rem solid $gray-3;
}
