.c-btn {
  display: inline-block;
  font-weight: 400;
  color: $white;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  padding: 0.8rem 1.8rem;
  border: 0.1rem solid transparent;
  border-radius: 0.6rem;

  &--primary {
    color: $white;
    background-color: $blue;
    &:focus,
    &.focus {
      box-shadow: $shadow-sm;
    }
  }

  &:focus,
  &.focus {
    outline: 0;
  }
}
