.c-card {
  background-color: $white;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  &__body {
    padding: 2rem 2.2rem;
  }
  &__footer {
    padding: 2rem 2.2rem;
    border-top: 0.1rem solid $border-color;
    border-bottom-right-radius: 1rem !important;
    border-bottom-left-radius: 1rem;
    background: $white; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #fafafb,
      $white
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #fafafb,
      $white
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
