.c-form {
  margin-bottom: 1rem;
  font-weight: 400;
  color: #495057;
  font-size: 1.4rem;
  &--block {
    width: 100%;
  }
  &__input,
  &__select {
    display: block;
    width: 100%;
    padding: 0.6rem 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.1rem solid #ced4da;
    border-radius: 0.6rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    &--bg-grey {
      background-color: $gray-1;
      color: $gray-2;
    }
  }
  &__number {
    padding: 0.6rem 0;
    border: 0;
    border-bottom: 0.1rem solid #ced4da;
    font-size: 1.6rem;
    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
    }
  }
  &--search {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    background: url(../../assets/icons/search.svg) no-repeat scroll 0.7rem 1rem,
      url(../../assets/icons/mic.svg) no-repeat scroll 97% 1rem;
  }
  &--card {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    background: url(../../assets/logos/mc_symbol.svg) no-repeat scroll 0.7rem
      1rem;
  }
  &--inline {
    @extend .col;
    @extend .col--center-y;
    width: unset;
  }
}
