.ico {
  &--bordererd {
    border: 0.1rem solid #ced0d7;
    border-radius: 0.5rem;
    padding: 0.7rem 0.7rem 0.4rem 0.8rem;
    display: inline-block;
    height: 1.8rem;
  }
  &--background {
    background-color: #ebf5ff;
    padding: 0.8rem;
    border-radius: 1rem;
    margin-right: 1rem;
  }
}
