.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &__text {
    font-size: 1.5rem;
    margin: 0;
    // NEEDS ATT
    & strong {
      color: #1e263b;
    }
  }
  // &__logo-img {
  // }
}
