.portlet {
  margin: 0.5rem 1.3rem;
  margin-bottom: 1.5rem;
  width: 100%;
  &__title {
    display: flex;
    justify-content: space-between;
  }
  &__body {
    margin-top: 1.5rem;
    &--card {
      background-color: $white;
    }
  }
}
