.progress-bar {
  width: 100%;
  height: 0.6rem;
  border: 0.1rem solid $border-color;
  border-radius: 0.5rem;
  &__progress {
    background: #fcc740;
    height: 0.4rem;
    margin-top: 0.1rem;
    display: block;
    border-radius: 0.5rem;
  }
}
