// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12;

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$white: #fff;
$gray-1: #f9f9fa;
$gray-2: #f4f5f8;
$gray-3: #b7bbc3;
$blue: #40a1ff;

$border-color: #f1f1f6;
// Breakpoints
$bp-larger-than-mobile: "min-width: 40px" !default;
$bp-larger-than-phablet: "min-width: 550px" !default;
$bp-larger-than-tablet: "min-width: 750px" !default;
$bp-larger-than-desktop: "min-width: 1000px" !default;
$bp-larger-than-desktophd: "min-width: 1200px" !default;

// Shadows

$shadow-sm: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
