<header class="header">
  <div class="header__menu--mobile">
    <p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#c6c9d5"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-menu"
      >
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </p>
  </div>
  <!-- Logo -->
  <div class="header__caption">
    <div class="logo">
      <span class="logo__logo-img">
        <img src="assets/logo.png" width="40" alt="" />
        <!-- <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 512 512"
        >
          <title>ionicons-v5_logos</title>
          <rect
            x="227.6"
            y="213.1"
            width="28.4"
            height="57.1"
            style="fill: #010101"
          />
          <path
            d="M0,156V327.4H142.2V356H256V327.4H512V156ZM142.2,298.9H113.8V213.2H85.3v85.7H28.4V184.6H142.2Zm142.2,0H227.5v28.6H170.6V184.6H284.4V298.9Zm199.2,0H455.2V213.2H426.8v85.7H398.4V213.2H370v85.7H313.1V184.6H483.8V298.9Z"
            style="fill: #010101"
          />
        </svg> -->
      </span>
      <h4 href="#" class="logo__text">
        GRINGO <br /><strong class="text--nowrap">Bank Plus</strong>
      </h4>
    </div>
    <input
      type="text"
      class="c-form__input c-form__input--bg-grey c-form--search"
      placeholder="Search"
    />
  </div>
  <div class="header__actions">
    <button class="c-btn c-btn--primary">Deposit</button>
    <div class="notification">
      <svg
        id="notifications"
        width="20"
        height="20"
        fill="#c6c9d5"
        class="ionicon"
        viewBox="0 0 512 512"
      >
        <path
          d="M440.08 341.31c-1.66-2-3.29-4-4.89-5.93-22-26.61-35.31-42.67-35.31-118 0-39-9.33-71-27.72-95-13.56-17.73-31.89-31.18-56.05-41.12a3 3 0 01-.82-.67C306.6 51.49 282.82 32 256 32s-50.59 19.49-59.28 48.56a3.13 3.13 0 01-.81.65c-56.38 23.21-83.78 67.74-83.78 136.14 0 75.36-13.29 91.42-35.31 118-1.6 1.93-3.23 3.89-4.89 5.93a35.16 35.16 0 00-4.65 37.62c6.17 13 19.32 21.07 34.33 21.07H410.5c14.94 0 28-8.06 34.19-21a35.17 35.17 0 00-4.61-37.66zM256 480a80.06 80.06 0 0070.44-42.13 4 4 0 00-3.54-5.87H189.12a4 4 0 00-3.55 5.87A80.06 80.06 0 00256 480z"
        ></path>
      </svg>
    </div>
    <div class="user">
      <img class="user__avatar" src="assets/avatar.jpg" height="3rem" alt="" />
      <h5 class="user__info">
        <strong>{{ data?.name }}</strong
        ><br />
        {{ data?.role }}
      </h5>
    </div>
  </div>
</header>
