<!-- Main Header -->
<app-header (eventClicked)="childEventClicked($event)"></app-header>
<!-- App SideBar -->
<app-sidebar [event]="clickedEvent"></app-sidebar>
<!-- App Pages -->
<app-content> </app-content>
