<div class="portlet">
  <div class="portlet__title">
    <div class="c-caption">
      <h4 class="m--b0">Dashboard</h4>
      <div class="c-caption__sub">
        <h5 class="text--muted">Welcome to Gringo Bank Plus</h5>
      </div>
    </div>
    <div class="actions"></div>
  </div>
  <div class="portlet__body">
    <div class="col col--space-btw col--responsive">
      <div class="col--4">
        <div class="portlet m--l0">
          <div class="portlet__title">
            <div class="c-caption">
              <h4>My Cards</h4>
            </div>
            <div class="actions">
              <img src="assets/icons/settings.svg" alt="" />
            </div>
          </div>
          <div class="portlet__body">
            <div class="c-card">
              <div class="c-card__body">
                <div class="col col--space-btw col--center-y b--b1 p--b2">
                  <div>
                    <img
                      src="assets/credit-card-image.png"
                      width="85"
                      height="50"
                      alt=""
                    />
                  </div>
                  <div>
                    <h6 class="text--muted m--b0">Card Balance</h6>
                    <h3>{{ data?.card?.balance | currency }}</h3>
                  </div>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="15"
                      height="15"
                      viewBox="0 0 512 512"
                      class="ico ico--bordererd"
                    >
                      <title>ionicons-v5-i</title>
                      <path
                        d="M384,80H128c-26,0-43,14-48,40L48,272V384a48.14,48.14,0,0,0,48,48H416a48.14,48.14,0,0,0,48-48V272L432,120C427,93,409,80,384,80Z"
                        style="
                          fill: none;
                          stroke: #ced0d7;
                          stroke-linejoin: round;
                          stroke-width: 3.2rem;
                        "
                      />
                      <line
                        x1="48"
                        y1="272"
                        x2="192"
                        y2="272"
                        style="
                          fill: none;
                          stroke: #ced0d7;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          stroke-width: 3.2rem;
                        "
                      />
                      <line
                        x1="320"
                        y1="272"
                        x2="464"
                        y2="272"
                        style="
                          fill: none;
                          stroke: #ced0d7;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          stroke-width: 3.2rem;
                        "
                      />
                      <path
                        d="M192,272a64,64,0,0,0,128,0"
                        style="
                          fill: none;
                          stroke: #ced0d7;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          stroke-width: 3.2rem;
                        "
                      />
                      <line
                        x1="144"
                        y1="144"
                        x2="368"
                        y2="144"
                        style="
                          fill: none;
                          stroke: #ced0d7;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          stroke-width: 3.2rem;
                        "
                      />
                      <line
                        x1="128"
                        y1="208"
                        x2="384"
                        y2="208"
                        style="
                          fill: none;
                          stroke: #ced0d7;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          stroke-width: 3.2rem;
                        "
                      />
                    </svg>
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="15"
                      height="15"
                      fill="#CED0D7"
                      viewBox="0 0 512 512"
                      class="ico ico--bordererd"
                    >
                      <title>ionicons-v5-f</title>
                      <circle cx="256" cy="256" r="48" />
                      <circle cx="416" cy="256" r="48" />
                      <circle cx="96" cy="256" r="48" />
                    </svg>
                  </p>
                </div>

                <div class="col col--space-btw p--t2 p--b1">
                  <div class="col-4">
                    <h5 class="text--bold">Information</h5>
                  </div>
                  <div class="col-8">
                    <h5 class="text--bold text--muted text--underlined">
                      More details
                    </h5>
                  </div>
                </div>
                <div class="col col--space-btw p--b1">
                  <div class="col--6">
                    <h5>Status Carty:</h5>
                  </div>
                  <div class="col--8">
                    <h5 class="text--nowrap">
                      {{ data?.card?.status }}
                      <span class="text--muted">
                        (Expires in {{ data?.card?.period }})</span
                      >
                    </h5>
                  </div>
                </div>
                <div class="col col--space-btw p--b1">
                  <div class="col--6">
                    <h5 class="text--nowrap">Name Card:</h5>
                  </div>
                  <div class="col--8">
                    <h5 class="text--muted">{{ data?.card?.name }}</h5>
                  </div>
                </div>
                <div class="col col--space-btw p--b1">
                  <div class="col--6">
                    <h5 class="">Type of Card:</h5>
                  </div>
                  <div class="col col--8 col--center-y">
                    <img src="assets/logos/mc_symbol.svg" width="15" alt="" />
                    <h5 class="text--muted m--b0">MasterCard</h5>
                  </div>
                </div>
              </div>
              <br />
              <div class="c-card__footer">
                <div class="col col--center-y">
                  <div class="m--r2">
                    <img
                      src="assets/credit-card-image.png"
                      width="85"
                      height="50"
                      alt=""
                    />
                  </div>
                  <div>
                    <h6 class="text--muted m--b0">Card Balance</h6>
                    <h4 class="text--bold">
                      {{ data?.card?.balance | currency }}
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portlet m--l0">
          <div class="portlet__title">
            <div class="c-caption"><h4>Transactions</h4></div>
            <div class="actions">
              <img src="assets/icons/menu.svg" alt="" />
            </div>
          </div>
          <div class="portlet__body">
            <div class="c-card">
              <div class="c-card__body">
                <div class="col col--space-btw m--b2">
                  <div class="col col--8">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fab"
                      data-icon="uber"
                      width="20"
                      height="20"
                      class="ico--background"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                    >
                      <path
                        fill="#339BFF"
                        d="M414.1 32H33.9C15.2 32 0 47.2 0 65.9V446c0 18.8 15.2 34 33.9 34H414c18.7 0 33.9-15.2 33.9-33.9V65.9C448 47.2 432.8 32 414.1 32zM237.6 391.1C163 398.6 96.4 344.2 88.9 269.6h94.4V290c0 3.7 3 6.8 6.8 6.8H258c3.7 0 6.8-3 6.8-6.8v-67.9c0-3.7-3-6.8-6.8-6.8h-67.9c-3.7 0-6.8 3-6.8 6.8v20.4H88.9c7-69.4 65.4-122.2 135.1-122.2 69.7 0 128.1 52.8 135.1 122.2 7.5 74.5-46.9 141.1-121.5 148.6z"
                      ></path>
                    </svg>
                    <div>
                      <h5 class="m--b0">Uber Eats #4394</h5>
                      <h6 class="m--b0 text--muted">
                        {{ data?.transactions?.uber?.date }}
                      </h6>
                    </div>
                  </div>
                  <div class="col col--4 col--end">
                    <h4 class="text--bold">
                      - {{ data?.transactions?.uber?.debit | currency
                      }}<span class="text--muted"></span>
                    </h4>
                  </div>
                </div>
                <div class="col col--space-btw m--b2">
                  <div class="col col--8">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      fill="#FCC22D"
                      viewBox="0 0 512 512"
                      class="ico--background"
                    >
                      <title>ionicons-v5-i</title>
                      <path
                        d="M261.56,101.28a8,8,0,0,0-11.06,0L66.4,277.15a8,8,0,0,0-2.47,5.79L63.9,448a32,32,0,0,0,32,32H192a16,16,0,0,0,16-16V328a8,8,0,0,1,8-8h80a8,8,0,0,1,8,8l0,136a16,16,0,0,0,16,16h96.06a32,32,0,0,0,32-32l0-165.06a8,8,0,0,0-2.47-5.79Z"
                      />
                      <path
                        d="M490.91,244.15l-74.8-71.56,0-108.59a16,16,0,0,0-16-16h-48a16,16,0,0,0-16,16l0,32L278.19,40.62C272.77,35.14,264.71,32,256,32h0c-8.68,0-16.72,3.14-22.14,8.63L21.16,244.13c-6.22,6-7,15.87-1.34,22.37A16,16,0,0,0,43,267.56L250.5,69.28a8,8,0,0,1,11.06,0L469.08,267.56a16,16,0,0,0,22.59-.44C497.81,260.76,497.3,250.26,490.91,244.15Z"
                      />
                    </svg>
                    <div>
                      <h5 class="m--b0">Telecom Services</h5>
                      <h6 class="m--b0 text--muted">
                        {{ data?.transactions?.telecom?.date }}
                      </h6>
                    </div>
                  </div>
                  <div class="col col--4 col--end">
                    <h4 class="text--bold">
                      - {{ data?.transactions?.telecom?.debit | currency
                      }}<span class="text--muted"></span>
                    </h4>
                  </div>
                </div>
                <div class="col col--space-btw m--b2">
                  <div class="col col--8">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      fill="#8932DF"
                      viewBox="0 0 512 512"
                      class="ico--background"
                    >
                      <title>ionicons-v5-k</title>
                      <path
                        d="M336,0H176a64,64,0,0,0-64,64V448a64,64,0,0,0,64,64H336a64,64,0,0,0,64-64V64A64,64,0,0,0,336,0Zm32,448a32,32,0,0,1-32,32H176a32,32,0,0,1-32-32V64a32,32,0,0,1,32-32h11.35a7.94,7.94,0,0,1,7.3,4.75A32,32,0,0,0,224,56h64a32,32,0,0,0,29.35-19.25,7.94,7.94,0,0,1,7.3-4.75H336a32,32,0,0,1,32,32Z"
                      />
                      <path
                        d="M336,48h0a11.88,11.88,0,0,0-9.53,4.69A48,48,0,0,1,288,72H224a48,48,0,0,1-38.47-19.31A11.88,11.88,0,0,0,176,48h0a16,16,0,0,0-16,16V448a16,16,0,0,0,16,16H336a16,16,0,0,0,16-16V64A16,16,0,0,0,336,48Z"
                      />
                      <path
                        d="M336,0H176a64,64,0,0,0-64,64V448a64,64,0,0,0,64,64H336a64,64,0,0,0,64-64V64A64,64,0,0,0,336,0Zm32,448a32,32,0,0,1-32,32H176a32,32,0,0,1-32-32V64a32,32,0,0,1,32-32h11.35a7.94,7.94,0,0,1,7.3,4.75A32,32,0,0,0,224,56h64a32,32,0,0,0,29.35-19.25,7.94,7.94,0,0,1,7.3-4.75H336a32,32,0,0,1,32,32Z"
                      />
                    </svg>
                    <div>
                      <h5 class="m--b0 text--nowrap">Mobile Phone Recharge</h5>
                      <h6 class="m--b0 text--muted">
                        {{ data?.transactions?.phone?.date }}
                      </h6>
                    </div>
                  </div>
                  <div class="col col--4 col--end">
                    <h4 class="text--bold">
                      - {{ data?.transactions?.phone?.debit | currency
                      }}<span class="text--muted"></span>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col--8">
        <div class="col col--12 col--responsive">
          <div class="col col--8 col--col">
            <div class="col col--12">
              <div class="portlet">
                <div class="portlet__title">
                  <div class="c-caption">
                    <h4>Send Money to Mobile Phone</h4>
                  </div>
                  <div class="actions">
                    <img src="assets/icons/menu.svg" alt="" />
                  </div>
                </div>
                <div class="portlet__body">
                  <div class="c-card">
                    <div class="c-card__body">
                      <div class="col">
                        <div class="c-form c-form--block">
                          <input
                            type="text"
                            class="c-form__number c-form--block"
                            placeholder="+234  |  80"
                            value="+234  |  80"
                          />
                        </div>
                      </div>
                      <div class="col col--12 col--space-btw col--center-y">
                        <h6 class="text--muted text--nowrap p--t1">
                          More than 140 Countries listed
                        </h6>
                        <span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="15"
                            height="15"
                            fill="#DBDCE2"
                            viewBox="0 0 512 512"
                          >
                            <title>ionicons-v5-e</title>
                            <path
                              d="M256,56C145.72,56,56,145.72,56,256s89.72,200,200,200,200-89.72,200-200S366.28,56,256,56Zm0,82a26,26,0,1,1-26,26A26,26,0,0,1,256,138Zm48,226H216a16,16,0,0,1,0-32h28V244H228a16,16,0,0,1,0-32h32a16,16,0,0,1,16,16V332h28a16,16,0,0,1,0,32Z"
                            />
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col--12">
              <div class="portlet">
                <div class="portlet__title">
                  <div class="c-caption"><h4>Money Box</h4></div>
                  <div class="actions">
                    <img src="assets/icons/menu.svg" alt="" />
                  </div>
                </div>
                <div class="portlet__body">
                  <div class="c-card">
                    <div class="c-card__body">
                      <div class="col">
                        <div class="col--8 b--r1">
                          <div class="col col--col">
                            <div class="col col--12 col--space-btw">
                              <h4 class="text--muted">Progress</h4>
                              <h4>{{ data?.moneyBox }}%</h4>
                            </div>
                            <div class="col col--12">
                              <div class="progress-bar">
                                <span
                                  class="progress-bar__progress"
                                  [style]="{ width: data?.moneyBox + '%' }"
                                ></span>
                              </div>
                            </div>
                            <div class="col col--12">
                              <h6 class="text--muted text--nowrap p--t1">
                                Your money box is in the Process of filling ...
                              </h6>
                            </div>
                          </div>
                        </div>

                        <div class="col col--4 col--space-ard col--center-y">
                          <p>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="15"
                              height="15"
                              viewBox="0 0 512 512"
                              class="ico ico--bordererd"
                            >
                              <title>ionicons-v5-i</title>
                              <path
                                d="M384,80H128c-26,0-43,14-48,40L48,272V384a48.14,48.14,0,0,0,48,48H416a48.14,48.14,0,0,0,48-48V272L432,120C427,93,409,80,384,80Z"
                                style="
                                  fill: none;
                                  stroke: #ced0d7;
                                  stroke-linejoin: round;
                                  stroke-width: 3.2rem;
                                "
                              />
                              <line
                                x1="48"
                                y1="272"
                                x2="192"
                                y2="272"
                                style="
                                  fill: none;
                                  stroke: #ced0d7;
                                  stroke-linecap: round;
                                  stroke-linejoin: round;
                                  stroke-width: 3.2rem;
                                "
                              />
                              <line
                                x1="320"
                                y1="272"
                                x2="464"
                                y2="272"
                                style="
                                  fill: none;
                                  stroke: #ced0d7;
                                  stroke-linecap: round;
                                  stroke-linejoin: round;
                                  stroke-width: 3.2rem;
                                "
                              />
                              <path
                                d="M192,272a64,64,0,0,0,128,0"
                                style="
                                  fill: none;
                                  stroke: #ced0d7;
                                  stroke-linecap: round;
                                  stroke-linejoin: round;
                                  stroke-width: 3.2rem;
                                "
                              />
                              <line
                                x1="144"
                                y1="144"
                                x2="368"
                                y2="144"
                                style="
                                  fill: none;
                                  stroke: #ced0d7;
                                  stroke-linecap: round;
                                  stroke-linejoin: round;
                                  stroke-width: 3.2rem;
                                "
                              />
                              <line
                                x1="128"
                                y1="208"
                                x2="384"
                                y2="208"
                                style="
                                  fill: none;
                                  stroke: #ced0d7;
                                  stroke-linecap: round;
                                  stroke-linejoin: round;
                                  stroke-width: 3.2rem;
                                "
                              />
                            </svg>
                          </p>
                          <p>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="15"
                              height="15"
                              fill="#CED0D7"
                              viewBox="0 0 512 512"
                              class="ico ico--bordererd"
                            >
                              <title>ionicons-v5-f</title>
                              <circle cx="256" cy="256" r="48" />
                              <circle cx="416" cy="256" r="48" />
                              <circle cx="96" cy="256" r="48" />
                            </svg>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col col--4">
            <div class="portlet">
              <div class="portlet__title">
                <div class="c-caption"><h4>Send Money to</h4></div>
                <div class="actions">
                  <img src="assets/icons/settings.svg" alt="" />
                </div>
              </div>
              <div class="portlet__body">
                <div class="c-card">
                  <div class="c-card__body">
                    <div class="col">
                      <div class="user col--12 col--space-btw">
                        <img
                          class="user__avatar"
                          src="assets/avatar.jpg"
                          height="3rem"
                          alt=""
                        />
                        <img
                          class="user__avatar"
                          src="assets/avatar.jpg"
                          height="3rem"
                          alt=""
                        />
                        <img
                          class="user__avatar"
                          src="assets/avatar.jpg"
                          height="3rem"
                          alt=""
                        />
                        <img
                          class="user__avatar"
                          src="assets/avatar.jpg"
                          height="3rem"
                          alt=""
                        />
                        <img
                          class="user__avatar"
                          src="assets/avatar.jpg"
                          height="3rem"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="col col--space-btw col--center-y p--t1 b--b1">
                      <h5 class="text--muted">Open Contacts</h5>
                      <span class="ico">
                        <img src="assets/icons/arrow-forward.svg" alt="" />
                      </span>
                    </div>
                    <div class="col p--t1">
                      <div class="c-form c-form--block">
                        <select class="c-form__select c-form--card">
                          <!-- <option *ngFor="let item of list" [value]="item">{{item}}</option> -->
                          <option value="">2482 ** 7837</option>
                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="c-form c-form--block">
                        <label for=""
                          ><h6 class="text--muted">Amount</h6></label
                        >
                        <input
                          type="text"
                          class="c-form__number c-form--block"
                          placeholder="$125.00"
                        />
                      </div>
                    </div>
                    <div class="col col--space-ard">
                      <button class="c-btn c-btn--primary col--12">
                        Send Money
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col--12">
          <div class="portlet">
            <div class="portlet__title">
              <div class="c-caption"><h4>Analytics</h4></div>
              <div class="actions">
                <img src="assets/icons/settings.svg" alt="" />
              </div>
            </div>
            <div class="portlet__body">
              <div class="c-card">
                <div class="c-card__body">
                  <div class="col col--space-btw">
                    <div class="c-form">
                      <select class="c-form__select">
                        <!-- <option *ngFor="let item of list" [value]="item">{{item}}</option> -->
                        <option value="">5 days</option>
                      </select>
                    </div>

                    <div class="c-form c-form--inline">
                      <label for=""
                        ><h5 class="text--muted m--r2 m--b0">Filter</h5></label
                      >
                      <select class="c-form__select">
                        <!-- <option *ngFor="let item of list" [value]="item">{{item}}</option> -->
                        <option value="">Select Date</option>
                      </select>
                    </div>
                  </div>
                  <div id="chartdiv" style="width: 100%; height: 21.5rem"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
