html {
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  @include rem("font-size", $regularSize);
  font-family: $helvetica;
  line-height: 1.3;
  height: 100%;
  background-color: #f4f5f8;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  @include rem("margin", 0, 0, 5, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  @include rem("margin", 0, 0, 10, 0);
  font-weight: normal;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

%clearfix {
  @include clearfix();
}
