/**
 * Basic typography style for text
 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  // margin-bottom: 2rem;
  font-weight: 600;
  color: #1e263b;
  word-wrap: break-word;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.2;
  // letter-spacing: -0.1rem;
}
h2 {
  font-size: 2.4rem;
  line-height: 1.25;
  // letter-spacing: -0.1rem;
}
h3 {
  font-size: 1.872rem;
  line-height: 1.3;
  // letter-spacing: -0.1rem;
}
h4 {
  font-size: 1.6rem;
  line-height: 1.35;
  // letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.328rem;
  line-height: 1.5;
  // letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.072rem;
  line-height: 1.6;
  letter-spacing: 0;
}

// Larger than phablet
// @media ($bp-larger-than-phablet) {
//   h1 {
//     font-size: 5rem;
//   }
//   h2 {
//     font-size: 4.2rem;
//   }
//   h3 {
//     font-size: 3.6rem;
//   }
//   h4 {
//     font-size: 3rem;
//   }
//   h5 {
//     font-size: 2.4rem;
//   }
//   h6 {
//     font-size: 1.5rem;
//   }
// }

p {
  margin-top: 0;
}

blockquote {
  margin: 0 0 2.4rem 1.2rem;
  // border-left: .3rem solid $gray-darker;
  padding: 2.4rem 1.2rem;

  p:last-child {
    padding-bottom: 0;
  }
}

small,
sub,
sup {
  // font-size: $font-size--sm;
  line-height: 1;
}

caption,
figcaption {
  // font-size: $font-size--sm;
  font-style: italic;
  text-align: center;
}

em,
cite,
i {
  font-style: italic;
}

q {
  &:before {
    content: "'";
  }

  &:after {
    content: "'";
  }

  & > q {
    font-style: italic;
  }
}

dfn,
abbr {
  // border-bottom: .1rem dotted $gray-light;
  cursor: default;
}

dfn,
abbr {
  // border-bottom: .1rem dotted $gray-light;
  cursor: default;
}
